/* Resets default margins, paddings, and sets box-sizing to border-box for consistent sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Content box includes padding and border */
}

/* Sets default font, background color, and text color for the body */
body {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    color: #ffa500; 
    background-color: #000; /* Black background as a fallback */
    /* background-image: url('../img/header_background.png'); Path to your page background */
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the image */
    height: 100%;
    min-height: 100vh; /* Ensure it covers at least the full viewport height */
}

/* Styles for the header, using flexbox for layout */
header {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next line on smaller screens */
    justify-content: space-between; /* Positions items on opposite ends */
    align-items: center; /* Vertically centers items */
    padding: 0.5rem 1rem; /* Adds space inside the header */
    /* background-image: url('../img/header_background.png'); Background image for the header */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    background-size: cover; /* Covers the entire header area */
    background-repeat: no-repeat; /* No tiling of the image */
    background-position: center; /* Centers the background image */
    width: 100%; /* Full width of its container */
    height: auto; /* Adjusted to auto for flexible height based on content */
    max-height: 6.2rem; /* Ensures header is not too small */
}

/* Styles for the main navigation */
#main-nav {
    display: flex;
    align-items: center; /* Vertically centers navigation links */
}

/* Styles for navigation links */
#main-nav a.nav-link {
    display: flex;
    align-items: center; /* Aligns the icon and text vertically */
    color: #ffa500; /* Orange text color for consistency */
    text-decoration: none; /* Removes underline from links */
    margin: 0rem 1.8rem; /* Adds horizontal spacing between links, 0 vertical margin */
    font-size: 1.8rem; /* Sets font size to 30px, using rem for scalability */
    font-family: 'Montserrat', sans-serif; /* Montserrat font for distinctive look */
    font-weight: bold; /* Bold text for emphasis */
    text-shadow: 0.2rem 0.2rem 0.3rem #000; /* Text shadow for depth */
    transition: transform 0.3s ease; /* Smooth transition for the transform property */
}

#main-nav a.nav-link:hover {
    transform: scale(1.05); /* Slightly scales up the link by 5% on hover */
}

/* Styling for the icons within navigation links */
.nav-icon {
    height: 5rem; /* Adjust size as needed */
    width: auto; /* Maintain aspect ratio */
    margin-right: 0.5rem; /* Adds some space between the icon and the text */
}

/* Styles for the hamburger menu, hidden by default */
#hamburger-menu {
    display: none; /* Hidden on larger screens, shown in media query */
    cursor: pointer; /* Indicates clickable item */
    background: none;
    border: none;
    position: relative; /* This makes the dropdown positioning relative to this container */
}

#hamburger-menu img {
    height: 1.8rem; /* Decrease the size as needed */
    width: 1.8rem; /* Maintain aspect ratio */
    margin-left: 1rem;
}

/* Hamburger menu icon hover effect */
#hamburger-menu img:hover {
    transform: scale(1.1); /* Grows the icon by 10% */
    transition: transform 0.3s ease; /* Smooth transition */
}

/* Spin to sideways (90 degrees) */
@keyframes spin-to-side {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(90deg);
    }
}

/* Spin back to original position */
@keyframes spin-back {
    from {
        transform: rotate(90deg);
    }
    to {
        transform: rotate(0deg);
    }
}

/* Apply animation when class is added */
.spin-to-side {
    animation: spin-to-side 0.6s forwards;
}

.spin-back {
    animation: spin-back 0.6s forwards;
}

.dropdown-content {
    display: block; /* Always block but invisible when not shown */
    position: absolute;
    top: 6%; /* Aligns with the top of the hamburger menu */
    left: 10%; /* Positions the dropdown to the right of the hamburger menu */
    opacity: 0;
    transform: translateX(0) translateY(-10px); /* Start slightly above the final position */
    visibility: hidden; /* Use visibility to hide the dropdown */
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0.3s; /* Add visibility to the transition */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    min-width: 10rem; /* Minimum width of the dropdown */
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0,0,0,0.2); /* Shadow for dropdown */
    z-index: 1; /* Ensure dropdown is above other content */
}

/* Class to control the visibility and animation */
.dropdown-content.show {
    display: block;
    opacity: 1;
    transform: translateX(0) translateY(0); /* Move to final position */
    visibility: visible; /* Make dropdown visible */
    transition-delay: 0s; /* Ensure visibility transitions immediately */
}

.dropdown-content a {
    color: #ffa500; /* Orange text color to match navigation pane headers */
    padding: 0.3rem 1rem; /* Padding for each link */
    text-decoration: none; /* Remove underline from links */
    display: block; /* Display links as block for full-width click area */
    font-family: 'Montserrat', sans-serif; /* Montserrat font for consistency */
    font-weight: bold; /* Bold text */
    text-shadow: 0.2rem 0.2rem 0.3rem #000; /* Text shadow for depth */
    transition: transform 0.3s ease; /* Smooth transition for the transform property */
}

.dropdown-content a:hover {
    transform: scale(1.05); /* Slightly scales up the link by 5% on hover */
}

.dropdown-content a img {
    margin-right: 0.5rem; /* Space between icon and link text */
    height: 1.25rem; /* Decrease the size as needed */
    width: 1.25rem; /* Maintain aspect ratio */
    vertical-align: middle; /* Aligns the icon vertically with the text */
}

/* Logo styling, positioned to the right */
#logo img {
    height: 6rem; /* Sets logo height, using rem for relative sizing */
    width: auto; /* Keeps aspect ratio intact */
    margin-top: -0.5rem;
    margin-left: auto; /* Pushes logo to the right */
    margin-right: 2rem; /* Adds space to the right of the logo, using rem for consistency */
    transition: transform 0.3s ease; /* Smooth transition for the transform property */
}

#logo img:hover {
    transform: scale(1.1); /* Scales up the logo by 10% on hover */
}

/* Main content padding */
main {
    padding: 1.25rem; /* Adds padding inside the main content area */
    flex: 1; /* Allows the main content to grow and push the footer to the bottom */
}

/* Make the content wrapper flex and grow to fill available space, pushing the footer down */
.content-wrap {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 100%;
    background-image: url('../img/background.png'); /* Path to your page background */
    background-size: cover; /* Cover the entire content area */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the image */
}


/* Styles for page and section titles */
.page-title, h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif; /* Raleway font for titles for a modern look */
    text-align: center; /* Centers titles */
    margin: 1.25rem 0; /* Top and bottom margin for spacing, 0 left and right */
}

/* Additional styling for section titles */
.section-title {
    margin-bottom: 0.6rem; /* Adds bottom margin for spacing between title and content */
}

/* Footer styling, using flexbox for layout */
footer {
    justify-content: space-between; /* Space between items */
    text-align: left; /* Text align left for the button */
    width: 100%; /* Ensures the footer spans the full width of its container */
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center; /* Vertically centers footer content */
    padding: 1rem; /* Adds padding inside the footer */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    color: #fff; /* White text for contrast */
    /* background-image: url('../img/footer_background.png'); Path to your footer background image */
    background-size: cover; /* Ensures the background image covers the footer area */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
}

footer p {
    color: #fff; /* Example text color, adjust as needed */
    margin: 0; /* Removes default margin for a clean layout */
    padding: 0.5rem 0; /* Adds vertical padding, adjust as needed */
}

#footer-content {
    display: contents; /* Make #footer-content not affect the grid */
    width: 100%;
    justify-content: center; /* This will keep the button to the left */
    align-items: center;
}

#footer-content p {
    grid-column: 2 / 3; /* Center the paragraph */
    flex: 2;
    font-size: 0.75rem;
    flex-grow: 1; /* Allows the paragraph to take up available space */
    text-align: center; /* Centers the text within the paragraph element */
    margin: 0; /* Removes default margin */
    padding: 0; /* Add padding on both sides to ensure it doesn't touch the button or edge */
}

/* Accessibility menu styling */
#accessibility-menu {
    display: flex;
    align-items: center; /* Vertically centers accessibility items */
}

#accessibility-btn {
    grid-column: 1 / 2;
    width: auto;
    background: none;
    justify-self: start; /* Align the button to the left of its grid area */
    border: 0.1rem solid #ffa500; /* Orange border for visibility */
    color: #ffa500; /* Orange text for consistency */
    font-size: 0.7rem;
    padding: 0.5rem 1rem; /* Small horizontal padding */
    border: 2px solid #ffa500;
    background-color: transparent;
    text-align: center;
    cursor: pointer; /* Indicates clickable item */
    display: flex;
    align-items: center; /* Vertically centers button content */
    transition: transform 0.3s ease; /* Smooth transition for the transform property */
}

#accessibility-btn:hover {
    transform: scale(1.1); /* Scales up the button by 10% on hover */
}

#accessibility-icon {
    width: 2.5rem; /* Sets icon size, using rem for scalability */
    height: 2.5rem; /* Maintains aspect ratio */
    margin-left: -0.8rem; /* Adjusts icon position, using rem */
    margin-right: -0.5rem;
    margin-top: -0.6rem;
    margin-bottom: -0.6rem;
    cursor: pointer; /* Indicates clickable item */
}

/* Responsive design adjustments */
@media (max-width: 768px) {
    #main-nav {
        display: none; /* Hides navigation links on smaller screens */
    }

    #hamburger-menu {
        display: block; /* Shows hamburger menu on smaller screens */
    }
}
